@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #80D0C7;
  background-image: linear-gradient(160deg, #80D0C7 11%, #0093E9 30%, #7c1891 100%); */
  background: rgb(131,58,180);
background: linear-gradient(132deg, rgba(131,58,180,1) 5%, rgba(253,29,29,1) 36%, rgba(253,55,36,1) 59%, rgba(252,176,69,1) 99%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}